body{
font-size: larger;
}
.Avatar{
    height: 150px;
    filter:
        drop-shadow(0 15px 15px black);

    border-radius: 100%;
    border-style: double;
    margin-left: 20%;
    margin-top: 100px;
}
.main{  
    background-color: rgb(243, 112, 64);
    width: fit-content;
    padding-left: 10px;
}
.info{
    text-align: left;
    height: fit-content;
    padding-left: 10px;
    padding-bottom: 150px;
    
}
.h1{
    color: white;
}

.About{
  transform: scale(1);
  font-size: large;
  transition: transform 0.5s linear;
  cursor: pointer;
}

.About:hover{ 
    font-size: larger;
    transform: scale(2);
    color: white;
    cursor: pointer;
    .name{
        display: block;
    }
}

.Hobbies{
    transform: scale(1);
    font-size: large;
    transition: tranform 0.5s linear;
}

.Hobbies:hover{
    font-size: larger;
    transform: scale(2);
    color: white;
}

.Edu{
    transform: scale(1);
    font-size: large;
    transition: transform 0.5s linear;
}

.Edu:hover{
    font-size: larger;
    transform: scale(2);
    color: white;
}

.Awards{
    transform: scale(1);
    font-size: large;
    transition: transform 0.5s linear;
}

.Awards:hover{
    font-size: larger;
    transform: scale(2);
    color: white;
}

.ball{
    margin-top: 10%;
    height: 40px;
    position: absolute;
    left: 16.5%;
    mix-blend-mode: normal;
    animation: ball 4.5s ease-in-out infinite
}
@keyframes ball{
        to{
            left: -100px;
        }
}
.pre{
    font-size: larger;
}
.main{
    float: left;
}
.name{
    margin-left: 40%;
    padding-top: 20%;
    font-size: larger;
    display: none;
}
.name:hover{
    display: block;
}
